#main {
    height:auto;
    width:100vw;
}
#product{
    height:auto;
    width:100vw;
    display:flex;
    flex-wrap:wrap;
}
#product_image{
    height:auto;
    width:auto;
    margin-right:8vw;
}

#product_details{
    height:auto;
    width:auto;
}